body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.form-container {
    width: 300px;
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

.form-title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #b0a9a9;
    border-radius: 8px;
    color: #fff;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #d3d3d3;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-container button {
    width: 45%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.button-confirm {
    background-color: #b0a9a9;
    color: #fff;
}

.button-cancel {
    width: 135px;
    height: 35.5px;
    background-color: #c0c0c0;
    color: #fff;
}

.button-container button:hover {
    opacity: 0.9;
}